<form>
  <p ng-hide="!wrongLogin" class="error">Incorrect username/password combination.</p>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control required-field" id="username" ng-model="username" placeholder="Username" required />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control required-field" id="password" ng-model="password" placeholder="Password" required />
  </div>
  <button class="btn btn-success" ng-click="submit()">Log In</button>
</form>